{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

<div class="wrapper">
    <nav class="navbar navbar-expand-lg p-2" style="background-color:turquoise;">
        <div class="navbar-brand"><a href="/">Закупка. <br> Продажа</a></div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="/">Остатки товара</a>
            </li>
            <li class="nav-item">
                <a href="/register">Операции</a>
            </li>
            <li class="nav-item">
                <a href="/profit">Прибыль</a>
            </li>
            <li class="nav-item">
                <a href="/percent">Процент</a>
            </li>
            <li class="nav-item">
                <a href="/products">Продукция</a>
            </li>
        </ul>
    </nav>

    <div class="main">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>