{% extends 'myapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h2>Справочник: товары</h2>
{% if records %}
<div class="leftovers">
    <button type="button" class="btn btn-success mb-3"
            onclick="location.href = '/createproduct'">Добавить новый
    </button>
    <table class="table">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col"></th>
        </tr>
        {% for elem in records %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{elem.title}}</td>
            <td>{{elem.descriprions}}</td>
            <td>
                <button type="button" class="btn btn-danger p-1"
                        onclick="location.href = '/deleteproduct/{{ elem.idproducts }}/'">Удалить
                </button>
                <button type="button" class="btn btn-warning p-1"
                        onclick="location.href = '/updateproduct/{{ elem.idproducts }}/'">Изменить
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>У нас нет записей</p>
{% endif %}
{% endblock %}