{% extends 'myapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h2>Главная: Остатки товара</h2>
{% if records %}
<div class="leftovers">
    <table class="table">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Дата</th>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
            <th scope="col">Итоговая цена</th>
            <th scope="col">Прибыль</th>
            <th scope="col">Рейтинг</th>
        </tr>
        {% for elem in records %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{elem.ts}}</td>
            <td>{{elem.title}}</td>
            <td>{{elem.quantite}}</td>
            <td>{{elem.price}}</td>
            <td>{{elem.total}}</td>
            <td>{{elem.n_profit}}</td>
            <td>{{elem.rate}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>У нас нет записей</p>
{% endif %}
{% endblock %}