<!-- temperature_chart/templates/charts/temperature_chart.html -->

{% extends 'myapp/base.html' %}

{% block title %}Статистика по месяцам{% endblock %}

{% block content %}
<h2>Статистика услуг по месяцам</h2>
    <canvas id="typeofserviceChart" width="600" height="300"></canvas>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/profitcount-data/')
                .then(response => response.json())
                .then(data => {
                    var ctx = document.getElementById('typeofserviceChart').getContext('2d');
                    var temperatureChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Заявки по месяцам',
                                data: data.values,
                                borderColor: ['rgba(255, 99, 132, 1)'],
                                borderWidth: 2,
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                });
        });
</script>
{% endblock %}